NEXT_PUBLIC_SITE_URL="https://dossier-studio.fr"

RESEND_API_KEY=""
RESEND_FROM_EMAIL="Dossier Studio <contact@dossier-studio.fr>"
CONTACT_TO_EMAIL="unisonore@gmail.com"
PUBLIC_CONTACT_EMAIL="contact@dossier-studio.fr"
RESEND_AUTO_REPLY="true"

TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""
CLIENT_ACCESS_SECRET=""
